<html>
    <head>
        <title>PAT Registration</title>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="public/css/app.css">
    </head>
    <body>
    #parse ("common/header.vm")
        <div class="bannerText">
            <h1>
                <span>Something bad happened.</span>
            </h1>
        </div>
            <br/>
            <br/>
            <div class="container">
            	<div class="row">
            		<div class="col-md-6 mb-3">
			            <dl class="dl-horizontal">
						  
						  <dt><button onclick="location.href = 'http://localhost:8080/registration.html';" id="back" class="btn btn-primary">Home</button></dt>
						  
						</dl>
					</div>
				</div>
            </div>
          #parse ("common/footer.vm")
    </body>
</html>
